.bg {
  &-card {
    background-color: "#1ce1ce" !important;
  }
}

.text,
.border {
  &-black-100 {
    color: '#000' !important;
  }

  &-white {
    &-100 {
      color: '#fff' !important;
    }
    &-54 {
      color: rgba(256, 256, 256, 0.54) !important;
    }
    &-32 {
      color: rgba(256, 256, 256, 0.32) !important;
    }
  }

  &-wrap {
    &-1 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
    &-2 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

.electronic-board {
  position: relative;
  font-size: 4rem;
  animation : scroll 10s linear infinite;
  width: 100%;
}

.electronic-board:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    transparent 0 1px, 
    rgba(0, 0, 0, .7) 1px
  );
  background-size: 3px 3px;
  content: '';
}

@keyframes scroll{
  0% { 
    transform: translateX(100%)
  }
  100% {
    transform: translateX(-100%)
  }
}
