html,
body {
  font-family: "Noto Sans JP", sans-serif !important;
  background-color: black;
}
h1,
h2,
h3 {
  font-weight: 600;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.nextImg {
  * {
    height: inherit;
  }
}

a {
  text-decoration: none;
}

.cursor {
  &-pointer:hover {
    cursor: pointer;
  }
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  outline: none !important;
  outline-offset: 0 !important;
  outline-width: 0 !important;
  box-shadow: none !important;

  &:focus,
  &:focus-visible {
    outline: none !important;
    outline-offset: 0 !important;
    outline-width: 0 !important;
    box-shadow: none !important;
  }
}
